# Variáveis de ambiente
.env
.env.local
.env.production

# Dependências
node_modules/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
# Local Netlify folder
.netlify
